.App {
  text-align: center;
  /* background-color: #f5e4e6; */  /* Light pink background */
  background-color: #f0f8fc;  /* Light blue background */
  min-height: 100vh;  /* Full height of the viewport */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 0; /* Remove any top padding */
}

.AppLink {
  color: #61dafb;
}

h1 {
  text-align: center;
  margin-bottom: 50px; /* Add 20px space below the title */
}

.grey-text {
  color: rgba(0, 0, 0, 0.5); /* This makes it 30% dark */
}

.big-bold {
  font-size: 3rem;
  font-weight: bold;
  color: #000; /* optional: tweak color */
  line-height: 1.2;
}

.label {
  font-size: 1rem;
  color: #313131;
  margin-top: 0.5rem;
}

.volume-display {
  margin-bottom: 1rem;
}

.amounts-container {
  display: flex;
  justify-content: space-between; /* Optional: To space them apart */
  gap: 10px; /* Optional: Adds space between the two items */
  margin-right: 20px; /* Space between the left and center columns */
  margin-top: 10px; /* Space between the left and center columns */
}

.grey-text {
  margin: 0;
  padding: 0;
}

.layoutContainer {
  display: flex;
  justify-content: space-between; /* Space between columns */
  width: 100%;
}

.leftColumn {
  flex: 1;  /* This will take up an equal portion of the width */
  margin-right: 20px; /* Space between the left and center columns */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.centerColumn {
  flex: 1;  /* This will take up an equal portion of the width */
  margin-right: 20px; /* Space between the left and center columns */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rightColumn {
  flex: 2;  /* This will take up an equal portion of the width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top of the column */
  align-items: center;         /* Center items horizontally */
}

.chartContainer {
  width: 600px;            /* Make the chart container take up full width */
  height: 400px;           /* Set the height to be 50% of the viewport height */
  padding: 30px;          /* Padding inside the chart container */
  background-color: white; /* White background for the chart area */
  display: flex;           /* Flexbox for the chart to make it responsive */
  flex-direction: column;  /* Stack elements inside the chart container */
  justify-content: center; /* Center the content inside the chart container */
  border: 1px solid #ccc;
  border-radius: 30px;
}

.patientDataContainer {
  width: 100%;
  height: 50%; /* Adjust as needed */
  padding: 30px; /* Padding inside the chart container */
  margin-bottom: 20px;    /* Space between form groups */
  background-color: white; /* White background for the chart area */
  display: flex;
  flex-direction: column; /* Stack elements inside the chart container */
  justify-content: center; /* Center the content inside the chart container */
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box; /* Prevent padding from affecting the width */
}

.formGroup {
  display: flex;          /* Display label and input field inline */
  align-items: center;    /* Vertically align the label and input fields */
  margin-bottom: 15px;    /* Space between form groups */
}

.formGroup label {
  width: 100px;           /* Fixed width for labels */
  margin-right: 10px;     /* Space between label and input field */
  text-align: right;      /* Right align the text in the label */
}

input, select, textarea {
  width: 100%;            /* Ensure the input and textarea fields take up full width */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the total width calculation */
}

textarea {
  height: 100px;          /* Set height for the notes textarea */
}

.scrollingData {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;  /* Space between data displays */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  text-align: left;
  padding-left: 30px; /* Adjust this value as needed */
  flex-direction: column-reverse; /* Makes the new items appear at the top */
}


.timestampsContainer {
  flex-direction: column;
  align-items: center;  /* Centering items horizontally */
  margin: 2px 0;  /* Adjust this as needed to reduce vertical spacing */
  padding: 0;
  color: rgba(0, 0, 0, 0.5); /* This makes it 30% dark */
}


.dataDisplay {
  width: 100%;
  height: 210px;
  margin-bottom: 10px;  /* Space between data displays */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  text-align: left;
  padding-left: 30px; /* Adjust this value as needed */
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.controlsContainer {
  margin-bottom: 20px;
  text-align: middle;
}

.downloadButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #459cb4;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #4fa3d1;
}
